<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Vue.js Todo List App</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>To-do List</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  	
	<div class="container" id="todo">
			
			<section class="panel">	

				<input type="checkbox" id="mark-all" @click="selectAll" :checked="areAllSelected">
				<input v-model="newTask" @keyup.enter="addTask" placeholder="Что вам нужно сделать?" autofocus class="text-input">
				<button @click="clearList">Очистить список</button>

			</section>

			<section class="list">

				<ul class="list-item">

					<li v-for="task in tasks" :class="{done: isChecked(task)}">

						<input type="checkbox" class="checkbox" @click="check" v-model="task.checked">
						
						<input type="text" v-if="task === editingTask" v-auto-focus class="text-input" @keyup.enter="endEditing(task)" @blur="endEditing(task)" v-model="task.text">

						<label for="checkbox" v-if="task !== editingTask" @dblclick="editTask(task)">{{ task.text }}</label>
						
						<button class="delete" @click="removeTask(task)">X</button>

					</li>
				
				</ul>
			
			</section>

	</div>
	
	<div class="credit">
			<p>Используйте поле наверху что бы добавить задачу (нажмите Enter)</p>
			<p>Дважды кликните мышкой на задаче что бы изменить её (нажмите Enter что бы сохранить)</p>
			<p>Наведитесь на задачу и кликните "X" что бы удалить её</p>
	</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
